<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/style/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MK10</title>
</head>
<body>
    <h1 id="Head">MK10ONTHEBEAT</h1>
    <img class="image" src="/static/image_index.jpeg"></img>
    <p id=intro>eioza ufvbzeuryye rzaryuiyzfhsdkfugh zufhzeifhzuiehrfuze zefhezuifh</p>

</body>
<script src="/static/script/index.js"></script>
</html>